name: llvmdev (custom)

on:
  workflow_dispatch:
    inputs:
      version:
        default: 'v0.45.1'
        description: 'Package version'
        type: string
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get Version
        run: |
          APP_VERSION=${{ github.event.inputs.version }}
          LLVM_VERSION=$(curl -sL https://github.com/numba/llvmlite/raw/refs/tags/${APP_VERSION}/conda-recipes/llvmdev/meta.yaml | grep -E '{%\s*set\s+version\s*=' | awk -F'"' '{print $2}')

          if [ -z "${APP_VERSION}" ] || [ "${APP_VERSION}" == "null" ] || [ -z "${LLVM_VERSION}" ] || [ "${LLVM_VERSION}" == "null" ]; then
            echo "Failed to get version"
            exit 1
          fi

          echo "APP_VERSION=${APP_VERSION}" >> $GITHUB_ENV
          echo "LLVM_VERSION=${LLVM_VERSION}" >> $GITHUB_ENV
          echo ""
          echo "========== Build Args =========="
          echo "APP_VERSION=${APP_VERSION}"
          echo "LLVM_VERSION=${LLVM_VERSION}"
      
      - name: Check Release
        run: |
          gh release view llvm-${{ env.LLVM_VERSION }} -R ${{ github.repository }} | grep llvm-.*.tar.gz >/dev/null 2>&1 || echo "build=1" >> $GITHUB_ENV
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        if: env.build == '1'
        uses: actions/checkout@v4
        with: 
          repository: numba/llvmlite
          ref: ${{ env.APP_VERSION }}

      - name: Prepare LLVM
        if: env.build == '1'
        run: |
          set -ex
          if [ ! -f "conda-recipes/llvmdev/meta.yaml" ]; then
            exit 1
          fi
          wget -qO buildscripts/manylinux/install-static-clang.sh https://github.com/loong64/cmake-python-distributions/raw/refs/heads/patch_loong64/scripts/install-static-clang.sh
          mkdir -p /home/runner/data/llvm-src
          wget -qO - "https://github.com/llvm/llvm-project/releases/download/llvmorg-${LLVM_VERSION}/llvm-project-${LLVM_VERSION}.src.tar.xz" | tar -xJf - -C /home/runner/data/llvm-src --strip-components=1

      - name: Setup QEMU
        if: env.build == '1'
        uses: docker/setup-qemu-action@v3

      - name: Build llvmdev
        if: env.build == '1'
        run: |
          DOCKER_IMAGE=ghcr.io/loong64/manylinux_2_38_loongarch64
          DOCKER_CMD="yum install -y git ninja-build patch wget xz && \
          bash -ex /io/llvmlite/buildscripts/manylinux/install-static-clang.sh && \
          bash -ex /io/llvmlite/conda-recipes/llvmdev/build.sh && \
          mkdir -p /io/llvmlite/dist && \
          cd /opt && \
          tar -czf /io/llvmlite/dist/llvm-${{ env.LLVM_VERSION }}-loong64.tar.gz llvm && \
          cd /io/llvmlite/dist && \
          sha256sum llvm-${{ env.LLVM_VERSION }}-loong64.tar.gz > llvm-${{ env.LLVM_VERSION }}-loong64.tar.gz.sha256"

          docker run --rm \
            --platform linux/loong64 \
            --volume "$(pwd):/io/llvmlite" \
            --volume "/home/runner/data/llvm-src:/io/llvm-src" \
            --volume "/opt/llvm:/opt/llvm" \
            --env RUNNER_ARCH=${RUNNER_ARCH} \
            --env CC="/opt/clang/bin/clang" \
            --env CXX="/opt/clang/bin/clang++" \
            --env LDFLAGS="-fuse-ld=lld -Wl,--build-id" \
            --env PREFIX="/opt/llvm" \
            --env CONDA_BUILD_CROSS_COMPILATION=1 \
            --env CMAKE_ARGS="-DLLVM_INCLUDE_TESTS=OFF" \
            --workdir /io/llvm-src \
            $DOCKER_IMAGE \
            sh -c "$DOCKER_CMD"
      
      - name: GitHub Release
        if: env.build == '1'
        uses: softprops/action-gh-release@v2
        with:
          name: llvm-${{ env.LLVM_VERSION }}
          tag_name: llvm-${{ env.LLVM_VERSION }}
          files: dist/*
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}